<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.sales.mapper.InvInventoryItemsMapper">
    <resultMap id="BaseResultMap" type="com.hand.sales.dto.InvInventoryItems">
        <result column="INVENTORY_ITEM_ID" property="inventoryItemId" jdbcType="DECIMAL"/>
        <result column="ITEM_CODE" property="itemCode" jdbcType="VARCHAR"/>
        <result column="ITEM_DESCRIPTION" property="itemDescription" jdbcType="VARCHAR"/>
        <result column="ITEM_UOM" property="itemUom" jdbcType="VARCHAR"/>
        <result column="ORDER_FLAG" property="orderFlag" jdbcType="VARCHAR"/>
        <result column="END_ACTIVE_DATE" property="endActiveDate" jdbcType="DATE"/>
        <result column="START_ACTIVE_DATE" property="startActiveDate" jdbcType="DATE"/>
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR"/>
        <result column="PROGRAM_APPLICATION_ID" property="programApplicationId" jdbcType="DECIMAL"/>
        <result column="PROGRAM_UPDATE_DATE" property="programUpdateDate" jdbcType="DATE"/>
        <result column="ORDER_QUANTITY_UOM" property="orderQuantityUom" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectItem" resultMap="BaseResultMap">
    select
          hi.ITEM_CODE,hi.ITEM_DESCRIPTION,
          li.ORDER_QUANTITY_UOM,
          hi.INVENTORY_ITEM_ID
	from
        hap_inv_inventory_items hi,
        hap_om_order_lines li
    where hi.INVENTORY_ITEM_ID = li.INVENTORY_ITEM_ID
    </select>

</mapper>