<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.sales.mapper.OmOrderLinesMapper">
    <resultMap id="BaseResultMap" type="com.hand.sales.dto.OmOrderLines">
        <result column="LINE_ID" property="lineId" jdbcType="DECIMAL"/>
        <result column="HEADER_ID" property="headerId" jdbcType="DECIMAL"/>
        <result column="LINE_NUMBER" property="lineNumber" jdbcType="DECIMAL"/>
        <result column="INVENTORY_ITEM_ID" property="inventoryItemId" jdbcType="DECIMAL"/>
        <result column="ORDERD_QUANTITY" property="orderdQuantity" jdbcType="DECIMAL"/>
        <result column="ORDER_QUANTITY_UOM" property="orderQuantityUom" jdbcType="VARCHAR"/>
        <result column="UNIT_SELLING_PRICE" property="unitSellingPrice" jdbcType="DECIMAL"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL"/>
        <result column="ADDITION1" property="addition1" jdbcType="VARCHAR"/>
        <result column="ADDITION2" property="addition2" jdbcType="VARCHAR"/>
        <result column="ADDITION3" property="addition3" jdbcType="VARCHAR"/>
        <result column="ADDITION4" property="addition4" jdbcType="VARCHAR"/>
        <result column="ADDITION5" property="addition5" jdbcType="VARCHAR"/>
        <result column="ITEM_CODE" property="itemCode" jdbcType="VARCHAR"/>
        <result column="ITEM_DESCRIPTION" property="itemDescription" jdbcType="VARCHAR"/>
        <result column="PRICE" property="price" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="selectByLine" resultMap="BaseResultMap" resultType="com.hand.sales.dto.OmOrderLines">
        SELECT
        hi.ITEM_CODE,
        line.LINE_ID,
        hi.ITEM_DESCRIPTION,
        line.ORDER_QUANTITY_UOM,
        line.HEADER_ID,
        line.ORDERD_QUANTITY,
        line.UNIT_SELLING_PRICE,
        line.DESCRIPTION,
        line.LINE_NUMBER,
        line.ADDITION1,
        line.ADDITION2,
        line.ADDITION3,
        line.ADDITION4,
        line.ADDITION5,
        (
        line.ORDERD_QUANTITY * line.UNIT_SELLING_PRICE
        ) AS price
        FROM
        hap_inv_inventory_items hi,
        hap_om_order_lines line
        WHERE
        hi.INVENTORY_ITEM_ID = line.INVENTORY_ITEM_ID
        <if test="headerId!=null">
            and line.HEADER_ID = #{headerId}
        </if>
        order by line.LINE_NUMBER
    </select>

</mapper>